<!--Diseño de los textos-->

#plantilla h1 {
    font-size: 35pt;
    font-weight: bold;
    color: #173b6f;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 25px;
}

h1, h2, h3, h4, h5, .aui h1, .aui h2, .aui h3, .aui h4, .aui h5 {
    color: #173b6f;
}
.aui h1 {
    font-size: 38.5px;
}
.aui h1, .aui h2, .aui h3 {
    line-height: 40px;
}
.aui h1, .aui h2, .aui h3, .aui h4, .aui h5, .aui h6 {
    margin: 10px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

elemento {
    text-align: justify;
}
#plantilla p {
    font-size: 12pt;
}
#texto > p {
    font-size: 12pt;
}
.aui p {
    margin: 0 0 10px;
}
p {
    font-size: 1.0em;
}
#texto {
    text-align: justify;
}

#paginaPrincipal {
    font-family: 'Maven Pro','sans-serif','serif';
    font-size: 1.0em;
}


.aui body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

